html {
	position: static;
	background-image: url("images/Background_trees.jpg"), linear-gradient(0deg, #000000, #FFFFFF);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header {
	color: #256F5C;
	font-size: 500%;
	text-shadow: 
	3px 3px 0 #EEE,
	-1px -1px 0 #FFF,
	1px -1px #FFF,
	-1px 1px 0 #FFF,
	1px 1px 0 #FFF;
	margin: 0px;
}

main {
	width: 80%;
	margin: 0px auto 0px auto;
}

#title {
	font-size: 80%%;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 
	3px 3px 0 #444,
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
	margin: 0px;
}

main div {
	background-color: #FFFFFF;
	border: 1px solid black;
	padding: 1%;
	margin: 1px;
	
}

main div:hover {
	background-color: #888888;
	color: #FFFFFF;

}

aside {
	float: left;
	width: 30%;
}

article {
	display: inline-block;
}

article p {
	text-align: center;
}

.time {
	display: inline;
	position: relative;
	float: right;
	top: 50%;
	transform: translateY(-50%);
	font-size: 0.75em;
}

article div {
	border-style: inset;
	float: left;
	width: 100%;
	background-color: #AAAAAA;
	padding: 1%;
	margin: 2%;
}