html {
	position: static;
	background-image: url("images/Background_trees.jpg"), linear-gradient(0deg, #000000, #FFFFFF);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

main {
	width: 80%;
	margin: 0px auto 0px auto;
}
main p {
	text-align: center;
}

main div {
	background-color: #FFFFFF;
	border: 1px solid black;
	padding: 1%;
	margin: 1px;
	
}

main div:hover {
	opacity: 0.4;

}

aside {
	float: left;
	width: 30%;
}

article {
	display: inline-block;
}

article p {
	text-align: center;
}

.time {
	display: inline;
	position: relative;
	float: right;
	top: 50%;
	transform: translateY(-50%);
	font-size: 0.75em;
}

article div {
	border-style: inset;
	float: left;
	width: 100%;
	background-color: #AAAAAA;
	padding: 1%;
	margin: 2%;
}